<style>
	.navbar , .tgl-btn{
	  display:none;
	}
</style>
<div class="reset-pass-back">
	
	<div id="reset_pwd"  role="dialog">	
		<div class="reset-pg-logo">
			<img src="img/logo/InstaAuto-logo.png" class="img-responsive">
		</div>
		<div class="reset-inner" >
			<div class="u1le6Y2hxjExaMxMdhDl0 modal-body" ng-hide="resetform">
				<div>
					<div class="text-center">
						<h2>Enter a New Password to Reset</h2>
					</div>
					<div class="frms">
						<div class="group">
							<input type="password" ng-keyup="validate_password(password)" name="password"  ng-model="password" id="password"  required><span class="highlight"></span><span class="bar"></span>
							<label>Password</label>
							<span style="color:red">{{pwd_msg}}</span>
						</div>
						<div class="group">
							<input type="password" name="cpassword" ng-model="con_pwd"  pw-check="password" required><span class="highlight"></span><span class="bar"></span>
							<label>Confirm Password</label>
							  <p style="color:red" ng-show="userForm.cpassword.$invalid && !userForm.cpassword.$pristine" class="help-block">password don't match</p>
						</div>
						<div class="text-center">
							<button ng-click="reset_password(password)" class="btn btn-primary" > Reset Password</button>						
						</div>
					</div>	
					
				</div>
			</div>
			<div style="margin-top:100px;margin-bottom:100px" ng-show="success"><p>password changed successfully</p><br/>
				<a href="#home">go to home</a></div>
		</div>
	</div>
</div>
	






